repos:
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: ["--py38-plus"]

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    -   id: django-upgrade
        args: ["--target-version=2.2"]
