repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.12.1
    hooks:
    -   id: pyproject-fmt
        args: [
            "--indent", "4",
            "--keep-full-version",
            "--max-supported-python", "3.10",
        ]

-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    -   id: django-upgrade
        args: ["--target-version=4.2"]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format

-   repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
    -   id: zizmor
        args: ["--no-progress", "--persona=auditor"]
