[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.2,<6"
django-haystack = ">=2.8,<3.4"
djangorestframework = ">=3.16.1,<3.17"
python-dateutil = "*"

[dev-packages]
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"urllib3" = "*"
geopy = "*"
tox = "*"
wheel = "*"
elasticsearch = ">=8.19.3,<=8.19.3"

[requires]
python_version = "3"
