name: "Build docs"

on: [push, pull_request]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: 3.14.2
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.22
  # renovate: datasource=pypi depName=sphinx
  SPHINX_VERSION: 9.1.0

jobs:
  build:
    name: "Build docs"
    runs-on: ubuntu-24.04
    timeout-minutes: 1

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv ${{ env.UV_VERSION }} & Python ${{ env.PYTHON_VERSION }}
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          enable-cache: true
          python-version: ${{ env.PYTHON_VERSION }}
          version: ${{ env.UV_VERSION }}

      - name: Build docs
        run: |
          cd docs
          uv run --with sphinx==${SPHINX_VERSION} make html
