name: Check pre-commit hooks

on: [push, pull_request]

jobs:
  prek:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: j178/prek-action@v1.0.11
